.offer{
    @include bg-gradient;

    &__container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        padding: 50px 15px;
    }
    
    justify-content: space-between;
    &__title{
        flex: 0 0;
        width: 300px;
        text-align: left;
    }
    &__description{
        flex: auto 0 0;
        margin-left: auto;
        *{
            text-align: left;
        }
//        width: calc( 100% - 300px );
    }
    &__btn-wrpr{
        flex: 100 0 0;
        min-width: 100%;
        margin-top: 30px;
    }
}

