.header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: $c-dark;
    padding: 20px 0;
    position: relative;
    &__container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @media (max-width: 800px) {
            flex-direction: column;
            
        }
    }
    &__logo {
        color: white;
        margin: 0;
        padding: 0;
        border-top: none;
        a{
            color: inherit;
        }
    }
    
    &__tagline-nav{
        color: white;
        margin-left: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        a{
            color: inherit;
            transition: 350ms;
            &:hover{
                color: $c-light;
            }
        }
        @media (max-width: 800px){
            margin-left: 0;
        }
    }
    
    .tagline {
//        margin: 66px 0 22px 0;
        text-align: right;
        color: #d1d1d1;
        @include bebas;
        @media (max-width: 800px){
            text-align: left;
            margin-top: 25px;
        }
    }
    
}

.index-page {
    .header__logo {
            display: none;
        }
}

.hamburger-wrpr{
    position: absolute;
    right: 15px;
    @media (min-width: 800px){
        display: none;
    }
}
.hamburger{
    outline: 0 !important;
    padding: 0 !important;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
    transition: 500ms;
    @media (max-width: 800px) {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(255,255,255, 0.9);
        padding-right: 15px;
        font-size: 25px;
        max-height: 0;
        overflow: hidden;
        &.is-active{
            max-height: 1000px;
        }
        ul{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            li{
                margin: 10px 0;
            }
            a{
                color: $c-dark;
            }
        }
    }
}
