/*Пользовательские цели*/

body {
  background: #293f50;
  color: #888;
  // font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "VDS";
  font-size: 16px;
  font-weight: 300;
}


/*Основной заголовок*/

.logo {
  border-top: 4px solid #000000;
//  float: left;
    
  font-size: 40px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}



.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*Основной подвал*/

.primary-footer {
  /*color: #648880;*/
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  small {
    float: left;
    font-weight: 400;
  }
}

/*Навигация*/

.nav {
  text-align: right;
}
