

/*Кнопки*/

.btn {
  border-radius: 5px;
  color: #BCDEFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #0B4A89;
  padding: 10px 30px;
  transition: all 0.5s;
  &:hover {
    background: #78D0FF;
    color: #648880;
    transform: scale(1.05);
  }
}
