include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Готовый бизнес
        include parts/_head.pug
    body.index-page
        +header('Вконтакте — Instagram — YouTube')
        
        
        section.row.offer 
            .hero.container.offer__container
                .offer__title   
                    h1.logo
                        a(href='index.html') МАСШТАБИРУЕМ #[br]ВАШ БИЗНЕС
                        
                .offer__description
                    .lead
                        h2.bebas ШАГ 1: ОФОРМЛЕНИЕ ГРУППЫ
                        h3.bebas ДЛЯ ЧЕГО ЭТО НУЖНО:
                        p
                            |1. Больше доверия к группе
                            br
                            |2. Выше конверсия рекламы
                            br
                            |3. Больше подписчиков и заказов
                            br
                            |4. Больше прибыль
                
                .offer__btn-wrpr
                    a.offer__btn.btn.btn-alt(href='register.html')
                        h5 Заказать оформление группы сейчас

                        


        section.row
            .container.container-teaser-card
                +teaser-card('Оформление "Эконом"', 'speakers.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Оформление группы в соцсетях "Эконом"', 'В пакет "Эконом" входит оформление аватара и баннера. Красивое и гармоничное оформление увеличит доверие клиентов и сделает так, что больше посетителей решат подписаться в группу. Красивое оформление групп это не просто дань моде. Эффектный дизайн и создание удобного меню – это гарантированный рост продаж! Заказывайте оформление группы пакет Эконом уже сейчас!')

                +teaser-card('Оформление "Стандарт"', 'shedule.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Оформление группы в соцсетях "Стандарт"', 'В пакет "Стандарт", кроме баннера и аватара, входит внешнее меню, которое открывается при клике на баннер.  Красивое и гармоничное оформление увеличит доверие клиентов и сделает так, что больше посетителей решат подписаться в группу. Красивое оформление групп это не просто дань моде. Эффектный дизайн и создание удобного меню – это гарантированный рост продаж! Заказывайте оформление группы пакет Стандарт уже сейчас!')

                +teaser-card( 'Оформление "Стандарт +"', 'venue.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Оформление группы в соцсетях "Стандарт +"', 'В пакете "Стандарт +" присутствуют внутренние страницы меню и навигация между страницами. Такое меню – это практически сайт, реализованный как воронка продаж. Красивое и гармоничное оформление увеличит доверие клиентов и сделает так, что больше посетителей решат подписаться в группу. Красивое оформление групп это не просто дань моде. Эффектный дизайн и создание удобного меню – это гарантированный рост продаж! Заказывайте оформление группы пакет Стандарт + уже сейчас!')
        
        section.row
            .container.container-teaser-card
                +teaser-card('Оформление "Премиум"', 'speakers.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Оформление группы в соцсетях "Премиум"', 'В пакет "Премиум", кроме баннера и аватара, входит внешнее меню, которое открывается при клике на баннер.  Красивое и гармоничное оформление увеличит доверие клиентов и сделает так, что больше посетителей решат подписаться в группу. Красивое оформление групп это не просто дань моде. Эффектный дизайн и создание удобного меню – это гарантированный рост продаж! Заказывайте оформление группы пакет Премиум уже сейчас!')


                +teaser-card('Оформление "VIP"', 'shedule.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Оформление группы в соцсетях "VIP"', 'Пакет "VIP" – самый дорогой, но и самый лучший из всех пакетов. Он выгодно отличается от остальных, потому что меню в нем реализовано в формате лендинг пейдж, а это гарантирует максимальный захват клиента и наиболее высокую конверсию.Красивое и гармоничное оформление увеличит доверие клиентов и сделает так, что больше посетителей решат подписаться в группу. Красивое оформление групп это не просто дань моде. Эффектный дизайн и создание удобного меню – это гарантированный рост продаж! Заказывайте оформление группы пакет VIP уже сейчас!')

    
                +teaser-card('Обложка', 'venue.html', 'assets/img/general/7.jpg', 'Профессиональные Оформление', 'Обложка и логотип для соцсетей', 'Обложка для группы более функциональна, чем аватар, потому что на ней можно разместить больше информации и грамотно добавить мотивацию к действию (особенно это удобно, учитывая, что в новом дизайне кнопки вступления в группы и отправки сообщений выгодно выведены сразу под шапку группы). Тем не менее, оформление шапки без закрепленного баннера с интерактивным меню все-таки понижает конверсию, поэтому бесспорными лидерами среди оформления остается оформления VIP и Стандарт+')
                
        
            include parts/_video.pug
        
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});
