include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Готовый бизнес
        include parts/_head.pug
    body.register-page
        +header('24–26 февраля — Тверь, Академия ВКО')

        section.row-alt
            h1.logo
                a(href='index.html')
                    | МАСШТАБИРУЕМ 
                    br
                    |  ВАШ БИЗНЕС
            section.hero.container
                .lead.container.razmer_foto
                    h1
                    h2 ШАГ 2: ПРИВЛЕЧЕНИЕ ПОДПИСЧКОВ
                    br
                    p
                        | КАК ПРИХОДЯТ ПОДПИСЧИКИ?
                        br
                        br
                        | 				1. Подбираем призы
                        br
                        | 				2. Оформляем конкурсы согласно всех правил
                        br
                        | 				3. Участники конкурса вступают в группу
                        br
                        | 				4. Закупаем рекламу на бирже рекламы
                        br
                        | 				5. Подводим итоги конкурса, доставляем призы победителю
                        br
                        | 				6. Подписчики остаются, потому что их не блокируют и они не уходят
                    a.btn.btn-alt(href='register.html')
                        h5 Заказать конкурс сейчас
        section.row
            .grid
                section.teaser.col-1-3.razmer_foto
                    h5 Оформление
                    a(href='speakers.html')
                        img(width='200', height='200', src='assets/img/general/Yakimenko.jpg', alt='Профессиональные Оформление')
                        // Первый столбец
                        h3 Оформление мирового класса
                    p
                        | К нам приедут более двадцати фантастических спикеров со всего мира, чтобы поделиться своими кейсами.
                        | Профессиональная конференция, состоящая из двух потоков: дизайн и проектирование, менеджмент.
                        | Событие может быть интересно руководителям проектов, разработчикам, руководителям и собственникам компаний и,
                        | конечно, дизайнерам и проектировщикам. Мероприятие собирает участников из Москвы, Санкт-Петербурга,
                        | Красноярска, Орла, Омска, Томска, Новосибирска, Кемерово и Абакана.
                        | Специалисты поделятся ценной информацией о том, как создавать незабываемый пользовательский опыт.
                        | Инсайты и истории известных дизайнеров помогут слушателям открыть новые горизонты в своей работе.
                //
                    -
                    Второй столбец
                        -
                section.teaser.col-1-3.razmer_foto
                    h5 Ведение
                    a(href='shedule.html')
                        img(wigth='200', height='200', src='assets/img/general/Sidyat.jpg', alt='Уютная атмосфера')
                        h3 Три вдохновляющих дня
                    p
                        | Наслаждайтесь тремя вдохновляющими и насыщенными событиями днями переговоров, встреч и всем хорошим вокруг.
                        | Будут представлены доклады самых разных тематик: от баланса между креативом и прагматикой при разработке
                        | корпоративных сайтов до управления поведением пользователей. Организаторы конференции: Chipsa, D2D, Tagline.
                        | а сайте также можно подать заявку на участие в качестве докладчика.
                //
                    -
                    Третий столбец
                        -
                section.teaser.col-1-3.razmer_foto
                    h5 Реклама
                    a(href='venue.html')
                        img(wigth='200', height='200', src='assets/img/general/Teatre.jpg', alt='Отличная архитектура')
                        h3 Тверской академический театр
                    p
                        | Тверской академический театр драмы — один из самых знаковых и узнаваемых провинциальных театров России,
                        | история которого насчитывает уже 270 лет. Последние 40 лет под руководством Веры Ефремовой
                        | театр верно служит традициям русского психологического театра, следует им, развивает и сохраняет,
                        | отдавая приоритет в репертуарной политике произведениям русской и зарубежной классической литературе.
                        | Тверской академический театр в самом центре города. Это отличное Реклама конференции.
                // видео
                iframe(width='960', height='600', src='https://www.youtube.com/embed/3HELwksGwSc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        
        
        
        
        
        
        
        
        
        
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});
