include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Готовый бизнес
        include parts/_head.pug
    body.speakers-page
        +header('Вконтакте — Instagram — YouTube')
        
        
        section.row-alt
            h1.logo
                a(href='index.html')
                    | МАСШТАБИРУЕМ 
                    br
                    |  ВАШ БИЗНЕС
            section.hero.container
                .lead.container.razmer_foto
                    h1
                    h2 ШАГ 2: ПРИВЛЕЧЕНИЕ ПОДПИСЧКОВ
                    br
                    p
                        | КАК ПРИХОДЯТ ПОДПИСЧИКИ?
                        br
                        br
                        | 				1. Подбираем призы
                        br
                        | 				2. Оформляем конкурсы согласно всех правил
                        br
                        | 				3. Участники конкурса вступают в группу
                        br
                        | 				4. Закупаем рекламу на бирже рекламы
                        br
                        | 				5. Подводим итоги конкурса, доставляем призы победителю
                        br
                        | 				6. Подписчики остаются, потому что их не блокируют и они не уходят
                    a.btn.btn-alt(href='register.html')
                        h5 Заказать конкурс сейчас
        section.row
            .grid
                section.teaser.col-1-3.razmer_foto
                    h5 500+
                    a(href='speakers.html')
                        img(width='200', height='200', src='assets/img/general/Yakimenko.jpg', alt='Профессиональные Оформление')
                        // Первый столбец
                        h3 500 Живых подписчиков
                    p
                        | Подписчики приходят из наших групп конкурсов и групп-партнёров
                        | Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как
                        | в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.
                //
                    -
                    Второй столбец
                        -
                section.teaser.col-1-3.razmer_foto
                    h5 700+
                    a(href='shedule.html')
                        img(wigth='200', height='200', src='assets/img/general/Sidyat.jpg', alt='Уютная атмосфера')
                        h3 700 Живых подписчиков
                    p
                        | Подписчики приходят из наших групп конкурсов и групп-партнёров
                        | Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как
                        | в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.
                //
                    -
                    Третий столбец
                        -
                section.teaser.col-1-3.razmer_foto
                    h5 4000+
                    a(href='venue.html')
                        img(wigth='200', height='200', src='assets/img/general/Teatre.jpg', alt='Отличная архитектура')
                        h3 4000 Живых подписчиков
                    p
                        | Подписчики приходят из наших групп конкурсов и групп-партнёров
                        | Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как
                        | в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.
                // видео
                iframe(width='960', height='600', src='https://www.youtube.com/embed/3HELwksGwSc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        
        
        
        
        
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});
