include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Готовый бизнес
        include parts/_head.pug
    body.speakers-page
        +header('Вконтакте — Instagram — YouTube')

        section.row.offer 
            .hero.container.offer__container
                .offer__title   
                    h1.logo
                        a(href='index.html') МАСШТАБИРУЕМ #[br]ВАШ БИЗНЕС
                        
                .offer__description
                    .lead
                        h2.bebas ШАГ 2: ПРИВЛЕЧЕНИЕ ПОДПИСЧКОВ
                        h3.bebas КАК ПРИХОДЯТ ПОДПИСЧИКИ?
                        p
                            |1. Подбираем призы
                            br
                            |2. Оформляем конкурсы согласно всех правил
                            br
                            |3. Участники конкурса вступают в группу
                            br
                            |4. Закупаем рекламу на бирже рекламы
                            br
                            | 				5. Подводим итоги конкурса, доставляем призы победителю
                            br
                            |6. Подписчики остаются, потому что их не блокируют и они не уходят
                
                .offer__btn-wrpr
                    a.offer__btn.btn.btn-alt(href='register.html')
                        h5 Заказать конкурс сейчас
        
        
        
        
        
        
        section.row
            .container.container-teaser-card
                
                +teaser-card( '500+', 'speakers.html', 'images/speaker/1.jpg', 'Профессиональные Оформление', '500 Живых подписчиков', 'Подписчики приходят из наших групп конкурсов и групп-партнёров Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.')
                        
                +teaser-card( '700+', 'shedule.html', 'images/speaker/Flotkov.jpg', 'Уютная атмосфера', '700 Живых подписчиков', 'Подписчики приходят из наших групп конкурсов и групп-партнёров Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.')
                
                +teaser-card( '4000+', 'venue.html', 'images/venue/Teatre.jpg', 'Отличная архитектура', '4000 Живых подписчиков', 'Подписчики приходят из наших групп конкурсов и групп-партнёров Подписчики 70-80% Россия. 0 % ботов. Гарантия от списаний.Конкурс запускается через 5-10 дней после оплаты, так как в день разрешено публиковать не более 5 рекламный записей и конкурсы запускаются в порядке живой очереди.')
        
        
        
        
        
        
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        
