include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Готовый бизнес
        include parts/_head.pug
    body.venue-page
        +header('24–26 февраля — Тверь, Академия ВКО')                
                        
        section.row.offer 
            .hero.container.offer__container
                .offer__title   
                    h1.logo
                        a(href='index.html') МАСШТАБИРУЕМ #[br]ВАШ БИЗНЕС
                        
                .offer__description
                    .lead
                        h2.bebas ШАГ 2: ПРИВЛЕЧЕНИЕ ПОДПИСЧКОВ
                        h3.bebas КАК ПРИХОДЯТ ПОДПИСЧИКИ?
                        p
                            | 1. Подбираем призы
                            br
                            | 2. Оформляем конкурсы согласно всех правил
                            br
                            | 3. Участники конкурса вступают в группу
                            br
                            | 4. Закупаем рекламу на бирже рекламы
                            br
                            | 5. Подводим итоги конкурса, доставляем призы победителю
                            br
                            | 6. Подписчики остаются, потому что их не блокируют и они не уходят
                
                .offer__btn-wrpr
                    a.offer__btn.btn.btn-alt(href='register.html')
                        h5 Заказать конкурс сейчас
                        
                        
                        
                        
                        
        section.row
            .container.container-teaser-card     
                
                +teaser-card( 'Оформление', 'speakers.html', 'images/speaker/1.jpg', 'Профессиональные Оформление', 'Оформление мирового класса', 'К нам приедут более двадцати фантастических спикеров со всего мира, чтобы поделиться своими кейсами. Профессиональная конференция, состоящая из двух потоков: дизайн и проектирование, менеджмент. Событие может быть интересно руководителям проектов, разработчикам, руководителям и собственникам компаний и, конечно, дизайнерам и проектировщикам. Мероприятие собирает участников из Москвы, Санкт-Петербурга, Красноярска, Орла, Омска, Томска, Новосибирска, Кемерово и Абакана. Специалисты поделятся ценной информацией о том, как создавать незабываемый пользовательский опыт. Инсайты и истории известных дизайнеров помогут слушателям открыть новые горизонты в своей работе.' )

                +teaser-card( 'Ведение', 'shedule.html', 'images/speaker/Flotkov.jpg', 'Уютная атмосфера', 'Три вдохновляющих дня', 'Наслаждайтесь тремя вдохновляющими и насыщенными событиями днями переговоров, встреч и всем хорошим вокруг. Будут представлены доклады самых разных тематик: от баланса между креативом и прагматикой при разработке корпоративных сайтов до управления поведением пользователей. Организаторы конференции: Chipsa, D2D, Tagline. а сайте также можно подать заявку на участие в качестве докладчика.' )

                +teaser-card( 'Реклама', 'venue.html', 'images/venue/Teatre.jpg', 'Отличная архитектура', 'Тверской академический театр', 'Тверской академический театр драмы — один из самых знаковых и узнаваемых провинциальных театров России, история которого насчитывает уже 270 лет. Последние 40 лет под руководством Веры Ефремовой театр верно служит традициям русского психологического театра, следует им, развивает и сохраняет, отдавая приоритет в репертуарной политике произведениям русской и зарубежной классической литературе. Тверской академический театр в самом центре города. Это отличное Реклама конференции.' )
        
        
        
        
        
        
        
        
        include parts/_footer.pug
        include parts/_scripts.pug
