// Подвал
footer.primary-footer.conteiner.group
    small © МАСШТАБИРУЕМ ВАШ БИЗНЕС
    nav.nav
        ul
            li
                a(href='index.html') Оформление
            //
            li
                a(href='speakers.html') Подписчики
            //
            li
                a(href='shedule.html') Ведение
            //
            li
                a(href='venue.html') Реклама
            //
            li
                a(href='register.html') Комплексное
        | 		`
    a(href='#top') Наверх
