include _bemto.pug
//mixin article_item(title, image, src, ago, excerpt)

mixin header(message)
    header.header.row.header__row
        .container.header__container
            h1.header__logo.logo
                a(href='index.html') МАСШТАБИРУЕМ #[br]ВАШ БИЗНЕС
            .header__tagline-nav
                h3.tagline= message
                include _nav.pug

mixin teaser-card(name, link, img_src, img_alt, title, desc)
    +b.teaser-card
        +e.name
            h5= name
        +e.A(href=""+link).link
            +e.IMG(src=""+img_src, alt=""+img_alt).img
        +e.title
            h3!= title
        +e.desc
            p!= desc
        