section.row.video-section
    .container.video-section__container
        iframe.video(src='https://www.youtube.com/embed/3HELwksGwSc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope;', allowfullscreen='')